.catBtns:hover {
    background: rgb(224,224,224) !important;
    background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(245,245,245,1) 80%)!important;
}

.catBtns {
    border: 2px solid rgb(218, 218, 218);
    border-radius: 5px;
}

.card  {
    transition: box-shadow .3s;
    transition: all .3s ease-in-out; 
    border: 2px solid #dfdfdf;
}

.card:hover {
    box-shadow: 10px 15px 15px rgb(133, 122, 110);
    z-index: 1;
    transform: scale(1.05);
    border: 2px solid #FCE6CE;
}

#filterDropdown:hover {
    background: #FCE6CE;
}

.filterSection {
    border-bottom: 2px solid #FCE6CE;
}

.mainHeadingText {
    font-family: 'Roboto', sans-serif;
}

.groupSearchBox {
    height: 200px;
}

/* smartphone width */
@media screen and (max-width: 425px){
    .card  {
        border: 2px solid #dfdfdf;
    }

    .card:hover {
        border: 2px solid #FCE6CE;
    }

    .groupSearchBox {
        height: 100px;
    }

    .catBtns {
        border: 2px solid rgb(218, 218, 218);
        border-radius: 5px;
        width: 50% !important;
        height: 50%;
    }
}